extends layout

block content
  h1= title

  p Welcome to #{title}

  .row
    each connection in connections.connections
      .col-md-3
        .card
          // card image
          .card-content
            i.fa.fa-2x.fa-link &nbsp&nbsp
            span.card-title= connection.name
          // card content
          .card-footer
            a(href="/connection/show/" + connection.identification).btn.btn-success Open
            | &nbsp
            button(data-connection= connection.identification, onclick="deleteConnection(this)")#deleteCollection.btn.btn-danger Delete

          // card actions

  script.
    function deleteConnection(button) {
      $.ajax({
        url : "/connection/delete",
        type : "post",
        data : {
          connectionID : $(button).data("connection")
        },
        success : function (data) {
          if (JSON.parse(data).error == false) {
            if (!alert("Connection deleted successfully.")) {
              window.location.reload();
            }

          }
        }
      });
    };
