doctype html
html
  head
    title= title
    link(href = '/bootstrap/css/bootstrap.min.css', rel = 'stylesheet')
    link(href = '/stylesheets/style.css', rel = 'stylesheet')
    link(href = '/stylesheets/sidebar.css', rel = 'stylesheet')
    link(href = '/font-awesome/css/font-awesome.min.css', rel = 'stylesheet')
    link(href = '/stylesheets/card.css', rel = 'stylesheet')
    link(href = '//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css', rel = 'stylesheet')
    link(href = '/stylesheets/jquery.json-viewer.css', rel = 'stylesheet')
    script(src = '/javascripts/jquery-3.0.0.min.js')
    script(src = '/bootstrap/js/bootstrap.min.js')
    script(src = '/javascripts/card.js')
    script(src = '/javascripts/jquery.json-viewer.js')
    script(src = '//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js')
    script(src='/javascripts/ace/ace.js', type='text/javascript', charset='utf-8')

  body
    nav.navbar.navbar-fixed-top
      .container-fluid
        // Brand and toggle get grouped for better mobile display

        .nav.navbar-nav.navbar-header
          a(href="" class="fa fa-bars fa-2x" id="menu-toggle")

          a(href='/' style="font-size: 2em; margin-left: 1em;") MongoIDE
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/connection/create') New Connection
            li
              a(href="") FAQ

    div#wrapper.toggled
      div#sidebar-wrapper
        ul.sidebar-nav

          li.sidebar-brand
            | Connections
          if connections.connections.length == 0
            | No connections found
          each val in connections.connections
            li
              a(href='/connection/show/' + val.identification)= val.name


      div#page-content-wrapper
        div.container-fluid
          block content

  script(src = '/javascripts/menu-toggle.js')
