body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

    height: 100%;
}

nav a {
  color: white;
}

nav a:hover{
    text-decoration: none;
    color:white;
}

.nav li a:hover{
    background-color: #2b669a ;
}

.navbar{
    background-color: #2b669a;
}

.panel-info .panel-heading{
    background-color: #269abc;
    color:white;
}

.content-panel{
    height: 25em;
}

.files-panel{
    max-height: 6em;
    overflow: scroll;
}