extends ../../layout

block content
    h1= title
    hr

    if error != ""
        div.alert.alert-danger= error
    if success != ""
        div.alert.alert-success= success
    form(role='form', method='post', action='store')
        .form-group
            label(for='collection_name') Collection Name
            input#collection_name.form-control(name='collection_name', type='text', placeholder='Collection Name')

        button.btn.btn-success(type='submit') Create
