extends ../../layout

block content

    div.row
        div.col-md-6
            h1
                a(href="/connection/show/" + connectionId ).text-primary #{title}

    hr
    div.row
        div.col-md-12
            h5
                label.text-success Collection Name:&nbsp&nbsp
                label   #{collection.s.name}
    p(hidden id="itemsString")= JSON.stringify(items)
    p(hidden id="connectionId")= connectionId
    p(hidden id="collectionName")= collection.s.name

    div.row
        div.col-md-6.col-sm-6
            div.row
                div.col-md-7
                    h3 Run Query
                    i db.collection("#{collection.s.name}").
                    |  not required
            br
            div.row#errorAlert(hidden)
                div.col-md-12
                    div.alert.alert-danger
                        | Incorrect Syntax
            div.row
                div.col-md-12
                    div#queryString(style="height: 150px")
            br
            div.row
                div.col-md-12
                    button.btn.btn-primary#query-run Run
        div.col-md-6.col-sm-6
            div.row
                div.col-md-5
                    h3 History
            br
            div.row
                div.col-md-12
                    div#queriesHistory(style="height: 150px")
            br
            div.row
                div.col-md-12
                    button#clearQueriesHistory.btn.btn-danger Clear


    div.row
        div.col-md-5
            h3 Result

    hr


    div.row
        div.col-md-10.col-sm-10
            pre(style="overflow: scroll; max-height: 400px;")#json-renderer.
        div.col-md-2.col-sm-2
            h5 Options:
            hr
            input#collapsed(type='checkbox')
            | Collapse nodes
            br
            br
            input#with-quotes(type='checkbox')
            | Keys with quotes




    script(src='/javascripts/collection-queries.js', type='text/javascript', charset='utf-8')
    script.
        $(document).ready(function () {
            $('#example').DataTable();
        });
