extends ../layout

block content
    h1= title
    hr

    if error != ""
        div.alert.alert-danger= error
    if success != ""
        div.alert.alert-success= success
    form(role='form', method='post', action='store')
        .form-group
            label(for='connection_name') Connection Name
            input#connection_name.form-control(name='connection_name', type='text', placeholder='Connection Name')
        .form-group
            label(for='connection_host') Host
            input#connection_host.form-control(name='connection_host', type='text', placeholder='Host')
        .form-group
            label(for='connection_database') Database
            input#connection_database.form-control(name='connection_database', type='text', placeholder='Database name')
        .form-group
            label(for='connection_username') Username
            input#connection_username.form-control(name='connection_username', type='text', placeholder='If no username required, leave blank')
        .form-group
            label(for='connection_password') Password
            input#connection_password.form-control(name='connection_password', type='password', placeholder='If no password required, leave blank')
        .form-group
            label(for='connection_port') Port
            input#connection_port.form-control(name='connection_port', type='number', placeholder='Default: 27017')
        button.btn.btn-success(type='submit') Create
