extends ../layout

block content
    p(hidden)#connectionName= title

    div.row
        div.col-md-8
            h1
                a(href="/connection/show/" + title ).text-primary #{title}
            h4
                label.text-success All Collections
        div.col-md-4.form-inline
            .form-group
                input#collection_name.form-control(name='collection_name', type='text', placeholder='Collection Name')
            |&nbsp&nbsp
            button#createCollection.btn.btn-success
                i.fa.fa-plus &nbsp
                | Create Collection
    hr

    .row
        each collection in collections
            .col-md-3
                .card
                    // card image
                    .card-content
                        i.fa.fa-2x.fa-database &nbsp&nbsp
                        span.card-title= collection.s.name
                    // card content
                    .card-footer
                        a(href="/connection/show/" + connectionId + "/" + collection.s.name).btn.btn-success Open
                        |&nbsp
                        button(data-collection= collection.s.name, onclick="deleteCollection(this)")#deleteCollection.btn.btn-danger Delete
                    // card actions



    script.
        var connectionName = $("#connectionName").text();

        $(document).ready(function () {
            $('#example').DataTable();
        });

        $("#createCollection").click(function(){
            $.ajax({
                url : "/collection/store",
                type : "post",
                data : {
                    connection_name : connectionName,
                    collection_name : $("#collection_name").val()
                },
                success : function (data) {
                    if(JSON.parse(data).error == false)
                    {
                        alert("Collection added successfully. Refresh page.");
                    }
                }
            });
        });

        function deleteCollection(button){
            $.ajax({
                url : "/collection/delete",
                type : "post",
                data : {
                    connection_name : connectionName,
                    collection_name : $(button).data("collection")
                },
                success : function (data) {
                    if (JSON.parse(data).error == false) {
                        if(!alert("Collection deleted successfully.")){window.location.reload();}

                    }
                }
            });
        };
